*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;

}
body{
    background-color: rgb(235, 240, 255);
    color:#111;
}
.header{
    background-color:#005bbb;
    color:#fff;
    padding:20px;
    width:100%;
}
.logo{
    font-size:24px;
    font-weight:700;
}
.nav{
    float:right;
    margin-top:4px;
}
.nav a{
    text-decoration:none;
    color:#fff;
    margin-left:16px;
    font-size:16px;
}
.hii{
    background:#e8f0ff;
    padding:60px 20px;
}
    
.hii h1{
    font-size:34px;
    margin-bottom:10px;
}
.hii p{
    font-size:18px;
    color:#555;
    margin-bottom:20px;
}
.btn{
    display:inline-block;
    padding:12px 20px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    font-size:16px;
}
.one{
    background-color:#005bbb;
    color:#fff;

}
.two{
    background-color:#dce7ff;
    color:#005bbb;
}
.section{
    padding:40px 20px;
    width:100%;
    max-width:1100px;
    margin:auto;
}
.section h2{
    font-size:28px;
    margin-bottom:14px;
}
.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:20px;
}
.evolve_in{
    padding:20px;
    background-color:#fff;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.evolve_in:hover{
    box-shadow: 0 0 12px rgb(0, 102, 255);
    

}

.evolve_in h3{
    margin-bottom:10px;
}
.evolve_in p{
    color:#555;
}
.balance{
    font-size:30px;
    margin-top:10px;
    font-weight:700;
}
.form input,.form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}
.form button{
    padding:12px 20px;
    border:none;
    background:#005bbb;
    color:#fff;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.footer{
    text-align:center;
    padding:25px;
    font-size:14px;
    color:#555;
    margin-top:40px;
    background:#e7edff
}
@media(max-width:800px){.grid{grid-template-columns:repeat(2,1fr)}.nav{float:none;
    text-align:center;
    margin-top:10px
}}
@media(max-width:500px){.grid{grid-template-columns:1fr}.logo{
    text-align:center;
    display:block;
    margin-bottom:8px
}
.nav a{
    margin:0 8px
}}